private_dot_config/kitty/kitty-themes
private_dot_config/kitty/dark-theme.auto.conf
private_dot_config/kitty/Tokyo Night.conf
private_dot_config/kitty/current-theme.conf
private_dot_config/kitty/kitty.conf.bak
private_dot_config/kitty/symlink_theme.conf
private_dot_config/alacritty/themes
