spicetify/
raycast/
gitui/
lsd/
flutter/
iterm2/
com.corsair/CUE5/com.corsair/CUE5.cuecfg
configstore/update-notifier-yo.json
neofetch/config.conf
nvim/lazy-lock.json
htop/htoprc
karabiner
ncspot
yarn/global
karabiner
thefuck
github-copilot
gh
.DS_Store
chezmoi
zed/prompts/prompts-library-db.0.mdb
kitty/kitty-themes
tmux/plugins/tmux-plugins
tmux/plugins
ghostty/shaders
glab-cli/config.yml
configstore
opencode
television
yazi
yazi
yazi
yazi
