source ~/.idea-lazy.vim

let mapleader=" "
let maplocalleader="\\"

set formatoptions=jcroqlnt

""" Plugins  --------------------------------
set surround
set commentary
set argtextobj
set textobj-entire
set exchange
set which-key
set sneak
set nerdtree
set matchit
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'justinmk/vim-sneak'
Plug 'preservim/nerdtree'
Plug 'terryma/vim-multiple-cursors'
Plug 'mg979/vim-visual-multi'
Plug 'machakann/vim-highlightedyank'

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

map <C-n> <Plug>NextWholeOccurrence

""" Common settings -------------------------
" set quickscope
set number
set showmode
set so=8
set scrolloff=8
set incsearch
set nu
set notimeout
set timeoutlen=1000
set clipboard+=unnamedplus
set hlsearch
set smartcase
set showcmd
set showmatch
set history=1000
set relativenumber
set visualbell
set noerrorbells
set ignorecase
set shiftround
set sidescrolloff=8
set timeoutlen=10000
set notimeout
set undolevels=10000
set backspace=indent,eol,start
set formatoptions=tcqj
set listchars=tab:>\ ,trail:-,nbsp:+
set shortmess=filnxtToOF

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray

nmap gsd ds
nmap gsr cs
nmap gsa ys
xmap gsa S
omap gsa ys
